@using TaxiCameBack.Website.App_LocalResources;
@{
    ViewBag.Title = "Error404";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @Error404.title_header
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @HomeBackEnd.home_breadcrumb</a></li>
            <li class="active">@Error404.error404_breadcrumb</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow">@Error404.content_title</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> @Error404.content_header</h3>

                <p>
                    @Error404.content_message
                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->