@using TaxiCameBack.Website.Application.Extension
@model TaxiCameBack.Website.Areas.Admin.Models.MemberEditViewModel
@{
    ViewBag.Title = (string.IsNullOrEmpty(Model.Id.ToString())) ? "Add User" : "Edit User";
    var buttonText = (string.IsNullOrEmpty(Model.Id.ToString())) ? "Create" : "Save";
}
<div class="backbutton">
    <a href="@Url.Action("Index")" class="btn-mvc-green">&lt;&lt; Back</a>
</div>

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
        {
            @Html.HiddenFor(x => Model.Id)

            @Html.ValidationSummary(false)

            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>

            <h2>Admin Specific</h2>
            
            <div class="checkbox">
                @using (Html.BeginLabelFor(m => m.IsApproved, new { @class = "checkbox" }))
                {
                    @Html.CheckBoxFor(m => m.IsApproved)
                }
                @Html.ValidationMessageFor(m => m.IsApproved)
            </div>

            <div class="checkbox">
                @using (Html.BeginLabelFor(m => m.IsLockedOut, new { @class = "checkbox" }))
                {
                    @Html.CheckBoxFor(m => m.IsLockedOut)
                }
                @Html.ValidationMessageFor(m => m.IsLockedOut)
            </div>

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green" value="@(buttonText)" />
                @if (!string.IsNullOrWhiteSpace(Model.Id.ToString()))
                {
                    <a href="@Url.Action("Delete", new{Model.Id})" onclick="return confirm('Are you sure you want to delete @Model.Email?')" class="btn-mvc-red" role="button">Delete</a>
                }
            </div>
        }

    </div>
</div>