@model TaxiCameBack.Website.Areas.Admin.Models.MemberViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-forgotpassword" }))
{

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <h3>@ViewBag.Title</h3>

            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", type = "email" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>

            <div class="submit-holder">
                <button type="submit" class="btn-mvc-green btn-mvc-large">Reset Password</button>
            </div>

}