@model TaxiCameBack.Website.Areas.Admin.Models.ScheduleViewModel
@{
    if (ViewBag.Type == 0)
    {
        ViewBag.Title = CreateSchedule.title;
    }
    else
    {
        ViewBag.Title = EditSchedule.title;
    }
}

<link href="@Url.Content("~/Content/datetimepicker/jquery.datetimepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/jqsDialog/jqsDialog.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/datetimepicker/jquery.datetimepicker.full.min.js")"></script>
<script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/knockout.validation.js")"></script>
<script src="@Url.Content("~/Content/jqsDialog/jqsDialog.js")"></script>
<script src="@Url.Content("~/Scripts/moment.min.js")"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?language=vi&libraries=places&sensor=false&key=AIzaSyDXIEOJsracks0-TTPmqvEnnMG3YPyh36U"></script>
@Scripts.Render("~/schedule/createedit")

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-dashboard"></i>@HomeBackEnd.home_breadcrumb</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<style>
    #btnUpdateSchedule, #btnDeleteSchedule {
        visibility: hidden;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-body">
                    @Html.AntiForgeryToken()
                    @Html.Partial("_ScheduleField")
                    <hr />
                    <button id="btnDeleteSchedule" class="btn btn-danger pull-left" data-bind="click: deleteSchedule">@CreateSchedule.btn_Delete</button>
                    @{
                        if (ViewBag.Type == 0)
                        {
                            <button class="btn btn-primary pull-right" data-bind="click: saveSchedule">@CreateSchedule.btnCreate</button>
                        }
                        else
                        {
                            <button id="btnUpdateSchedule" class="btn btn-primary pull-right" data-bind="click: saveSchedule">@CreateSchedule.btnUpdate</button>
                        }
                    }
                </div>
            </div>
            <div class="box box-danger">
                <div class="box-body">
                    <b>Hướng dẫn:</b>
                    <p>Đối với các lịch trình quay về chưa có khách hàng đăng kí, tài xế có thể <b>Cập nhật</b> hoặc <b>Xóa lịch trình</b> quay về đó.</p>
                    <p>Khi lịch trình quay về đã có khách hàng đăng ký tài xế <b>không thể Cập nhật hay Xóa lịch trình</b> được nữa, muốn hủy lịch trình đó, tài xế chuyển sang phần <b>Thông báo</b> tìm đến lịch trình cần tìm để hủy lịch trình.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-default">
                <div id="dvMap" style="height: 500px;"></div>
            </div>
        </div>
    </div>
</section>