@model TaxiCameBack.Website.Areas.Admin.Models.ScheduleViewModel
<div data-bind="with: schedule">
    <div class="form-group">
        @Html.LabelFor(model => model.BeginLocation)
        @Html.TextBoxFor(model => model.BeginLocation, new { data_bind = "value: BeginLocation, valueUpdate: 'afterkeydown'", @class = "form-control", placeholder = "Nhập điểm đi" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EndLocation)
        @Html.TextBoxFor(model => model.EndLocation, new { data_bind = "value: EndLocation, valueUpdate: 'afterkeydown'", @class = "form-control", placeholder = "Nhập điểm đến" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate)
        @Html.TextBoxFor(model => model.StartDate, new { data_bind = "value: StartDate, valueUpdate: 'afterkeydown'" })
    </div>
</div>
