@model TaxiCameBack.Website.Areas.Admin.Models.NotificationSearchModel
<link href="@Url.Content("~/Content/datetimepicker/jquery.datetimepicker.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/datetimepicker/jquery.datetimepicker.full.min.js")"></script>

@using (Html.BeginForm("Filter", "Notification", FormMethod.Post, new { id = "formId" }))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Tìm kiếm nâng cao</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-4">
                    @Html.TextBoxFor(x => x.BeginLocation, "", new { @class = "form-control", @placeholder = "Điểm đi" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(x => x.EndLocation, "", new { @class = "form-control", @placeholder = "Điểm đến" })
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(x => x.StartDateString, "", new {@class = "form-control", placeholder = "Ngày xuất hành" })
                </div>
                <div class="col-xs-2">
                    @Html.DropDownListFor(x => x.Received, new SelectList(new[]
                    {
                        new {Value = "", Text = "Chọn trạng thái"},
                        new {Value = "true", Text = "Đã nhận"},
                        new {Value = "false", Text = "Đang chờ"}
                    },
                    "Value",
                    "Text",
                    Model.Received), new { @class = "form-control"})
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input class="btn btn-default pull-right" type="submit" name="command" value="Xóa điều kiện" />
            <input class="btn btn-primary" type="submit" name="command" value="Tìm kiếm" />
        </div>
    </div>
}

<script>
    jQuery("#StartDateString").datetimepicker({
        timepicker: false,
        format: 'd-m-Y',
        lang: 'vi'
    });
</script>
