@model TaxiCameBack.Website.Areas.Admin.Models.NotificationListViewModel
@using TaxiCameBack.Website.App_LocalResources
@using TaxiCameBack.Website.Areas.Admin.Models
@{
    ViewBag.Title = Notifications.title;
}

<link href="@Url.Content("~/Scripts/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/datatables/dataTables.bootstrap.min.js")"></script>
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-dashboard"></i> @HomeBackEnd.home_breadcrumb</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @Html.Partial("_NotificationFilter", Model.NotificationSearchModel)
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>@Notifications.no</th>
                            <th>@Notifications.customer_name</th>
                            <th>@Notifications.customer_phone</th>
                            <th>@Notifications.customer_type</th>
                            <th>@Notifications.customer_start_pos</th>
                            <th>@Notifications.customer_end_pos</th>
                            <th>@Notifications.customer_near_pos</th>
                            <th>@Notifications.customer_datecreate</th>
                            <th>@Notifications.customer_status</th>
                            <th>@Notifications.customer_datereceive</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{ int count = 0;}
                        @foreach (var user in Model.Notifications)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.CustomerFullname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.CustomerPhoneNumber)
                                </td>
                                @if (user.NotificationExtend != null)
                                {
                                    <td>
                                        <span class="label label-primary">@Notifications.customer_reg_type</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.NotificationExtend.BeginLocation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.NotificationExtend.EndLocation)
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-success">@Notifications.driver_reg_type</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.NotificationExtend.BeginLocation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.NotificationExtend.EndLocation)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => user.NearLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.CreateDate)
                                </td>
                                <td>
                                    @if (user.Received != false)
                                    {
                                        <span class="label label-success">@Notifications.receive_status</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning">@Notifications.pending_status</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.ReceivedDate)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "searching": false,
            "ordering": false,
            "scrollX": true,
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            }
        });
    });
</script>
