@using TaxiCameBack.Website.App_LocalResources
<!DOCTYPE html>
<html lang="vi" xmlns="https://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="#" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Home.Title </title>
    <meta name="keywords" content="@Home.Keywords">
    <meta name="description" content="@Home.Description">
    <meta name="author" content="@Home.Author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
     <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

    
    <!--css-->
    <link rel="stylesheet" type="text/css" media="all" id="font_css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300">
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/icomoon")
    @Styles.Render("~/css/fancybox")
    @Styles.Render("~/css/revslider")
    @Styles.Render("~/css/style")
    @Styles.Render("~/css/responsive")
    <!--javascript-->
    @Scripts.Render("~/front-end-js/jquery")
    @Scripts.Render("~/front-end-js/superfish")
    @Scripts.Render("~/front-end-js/bootstrap")
    @Scripts.Render("~/front-end-js/form-style")    
    @Scripts.Render("~/front-end-js/placeholder")
    @Scripts.Render("~/front-end-js/fancybox")
    @Scripts.Render("~/front-end-js/gmap")
    @Scripts.Render("~/front-end-js/custom")
   

</head>
<header>
    <div id="header_main" class="clearfix">
        <div class="container_12">
            <div id="logo" class="grid_3">
                <img src="../Content/Images/logo/logovnl_03.png" alt="Motor Logo">
            </div>
            <nav class="grid_6">
                <ul id="main_menu" class="clearfix">
                    <li class="current_menu_ancestor"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li><a href="#">Bảng giá</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                </ul>
                <div id="responsive_navigation">
                    <select class="custom_select nav-responsive">
                        <option value="@Url.Action("Index", "Home")" selected="">Trang chủ</option>
                        <option value="@Url.Action("Login", "Account", new { area= "Admin"})">Dành cho tài xế</option>
                        <option value="#">Bảng giá</option>
                        <option value="#">Liên hệ</option>
                        <option value="#">Giới thiệu</option>
                    </select>
                </div>
            </nav>
            <div id="add_listing" class="grid_3">
                <a href="@Url.Action("Login", "Account", new { area= "Admin"})" class="button green big wide">Dành cho Tài xế</a>
            </div>
        </div>
    </div>
</header>

@RenderBody()

<footer>
    <div id="footer_columns" class="clearfix">
        <div class="container_12">
            <div class="grid_2">
                <h3>TaxiQuayve</h3>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Địa chỉ</a></li>
                </ul>
            </div>
            <div class="grid_2">
                <h3>Về chúng tôi</h3>
                <ul>
                    <li><a href="#">Tin tức mới nhất</a></li>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                </ul>
            </div>
            <div class="grid_2">
                <h3>Trợ giúp</h3>
                <ul>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Trợ giúp trưc tuyến</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="grid_3">
                <h3>Facebook</h3>
                <p class="tweet">
                    <a href="#">@@taxiquayve</a> Dịch vụ tìm kiếm taxi đường dài, giá rẻ! <a href="#">http://www.taxiquayve.vn</a>
                </p>
            </div>
            <div class="grid_3 contact_info">
                <h3>Thông tin liên hệ</h3>
                <p class="contact_info_description">Hãy liên hệ với chúng tôi</p>
                <p><strong>P.:</strong> 098.577.6625</p>
                <p><strong>E.:</strong> <a href="#">taxiquayve@gmail.com</a></p>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="container_12">
            <div id="logo_footer" class="grid_4">
                <img src="../Content/Images/logo/logovnl_03.png" alt="Motor Logo">
            </div>
            <nav class="grid_6">
                <ul id="footer_menu" class="clearfix">
                    <li class="current_menu_ancestor"><a href="results_list.html">Trang chủ</a></li>
                    <li><a href="results_grid.html">Bảng giá</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
@RenderSection("HomeFooter", false)
</html>

