@using TaxiCameBack.Website.App_LocalResources
<!DOCTYPE html>
<html lang="vi" xmlns="https://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="#" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Home.Title </title>
    <meta name="keywords" content="@Home.Keywords">
    <meta name="description" content="@Home.Description">
    <meta name="author" content="@Home.Author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.jpg" />
    <link rel="stylesheet" type="text/css" media="all" id="font_css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300">
    
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/icomoon")
    @Styles.Render("~/css/fancybox")
    @Styles.Render("~/css/revslider")
    @Styles.Render("~/css/style")
    @Styles.Render("~/css/responsive")

    @Scripts.Render("~/front-end-js/jquery")
    @Scripts.Render("~/front-end-js/superfish")
    @Scripts.Render("~/front-end-js/bootstrap")
    @Scripts.Render("~/front-end-js/form-style")    
    @Scripts.Render("~/front-end-js/placeholder")
    @Scripts.Render("~/front-end-js/fancybox")
    @Scripts.Render("~/front-end-js/gmap")
    @Scripts.Render("~/front-end-js/custom")
    @Scripts.Render("~/front-end-js/form")
</head>

<header>
    <div id="header_main" class="clearfix">
        <div class="container_12">
            <div id="logo" class="grid_3">
                <img src="../Content/Images/logo/logovnl_03.png" alt="Logo">
            </div>
            <nav class="grid_6">
                <ul id="main_menu" class="clearfix">
                    <li class="current_menu_ancestor"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Phản hồi</a></li>
                    <li><a href="#">Qui định</a></li>
                </ul>
                <div id="responsive_navigation">
                    <select class="custom_select nav-responsive">
                        <option value="@Url.Action("Index", "Home")" selected="">Trang chủ</option>
                        <option value="@Url.Action("Login", "Account", new { area= "Admin"})">Dành cho tài xế</option>
                        <option value="#">Giới thiệu</option>
                        <option value="#">Phản hồi</option>
                        <option value="#">Qui định</option>
                    </select>
                </div>
            </nav>
            <div id="add_listing" class="grid_3">
                <a href="@Url.Action("Login", "Account", new { area= "Admin"})" class="button green big wide">Dành cho Tài xế</a>
            </div>
        </div>
    </div>
</header>

@RenderBody()

<footer>
    <div class="clearfix">
        <div class="container_12">
            <div id="logo_footer" class="grid_4">
                <img src="../Content/Images/logo/logovnl_03.png" alt="Motor Logo">
            </div>
            <nav class="grid_6">
                <ul id="footer_menu" class="clearfix">
                    <li class="current_menu_ancestor"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Phản hồi</a></li>
                    <li><a href="#">Qui định</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
@RenderSection("HomeFooter", false)
</html>

