@using TaxiCameBack.Core.Constants
@using TaxiCameBack.Website.Application.Security
@{
    var currentController = TempData[AppConstants.CurrentController].ToString();
    var currentAction = TempData[AppConstants.CurrentAction].ToString();
}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        @{
            if (!string.IsNullOrEmpty(SessionPersister.Username) 
                && SessionPersister.Roles.Contains(AppConstants.AdminRoleName))
            {
                <li class="@(currentController == "account" ? "active" : "")  treeview">
                    <a href="@Url.Action("Index", "Account")">
                        <i class="fa fa-dashboard"></i> <span>Account</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
            }
            if (!string.IsNullOrEmpty(SessionPersister.Username)
                && SessionPersister.Roles.Contains(AppConstants.AdminRoleName))
            {
                <li class="@(currentController == "settings" ? "active" : "")  treeview">
                    <a href="@Url.Action("Index", "Settings")">
                        <i class="fa fa-dashboard"></i> <span>Settings</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
            }
            if (!string.IsNullOrEmpty(SessionPersister.Username)
                && SessionPersister.Roles.Contains(AppConstants.AdminRoleName))
            {
                <li class="@(currentController == "log" ? "active" : "")  treeview">
                    <a href="@Url.Action("Index", "Log")">
                        <i class="fa fa-dashboard"></i> <span>Log</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
            }
            if (!string.IsNullOrEmpty(SessionPersister.Username)
                && SessionPersister.Roles.Contains(AppConstants.StandardMembers))
            {
                <li class="@(currentController == "schedule" ? "active" : "")  treeview">
                    <a href="@Url.Action("Index", "Schedule")">
                        <i class="fa fa-dashboard"></i> <span>Schedules</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
            }
        }
            
    </ul>
</section>
<!-- /.sidebar -->
